%br
%h1= @collection.name
%br
.page-header
  %strong
    = "Published by "
    = link_to @collection.publisher.name, publisher_path(@collection.publisher)
- if @collection.books.size == 0
  %p= "No books found for "+@collection.name+"."
- else 
  %ul.thumbnails{:id => "grid"}
    - @collection.books.each do |book|
      %li
        .thumbnail
          %a{:href => book_path(book)}
            = image_tag(book.cover.url(:tiny))

