%br
.row
  .span8
    .row
      .span2
        .thumbnail
          = image_tag @profile.avatar.url(:medium)
        %br
        - if @profile.user == current_user
          %a.btn.btn-mini{:href => edit_user_profile_path(current_user,@profile)}
            %i.icon-pencil
              Edit Profile
      .span6
        .well
          %h2= @profile.name
          %h5= @profile.city.to_s+", "+@profile.country.to_s
          %h5= "Join in "+@profile.user.created_at.to_date.to_s
          - if !@profile.reviews_count.nil?
            %h5= @profile.reviews_count.to_s+" reviews"
          - else 
            %h5= "No reviews."
          - if !@profile.average_rating.nil?
            %h5= @profile.ratings_count.to_s+" ratings - Average: "+'%.2f' % @profile.average_rating
          - else
            %h5= " No ratings."
        .page-header
          %h4
            = @profile.first_name.to_s+"'s Children"
            - if @profile.user == current_user
              %a.btn.pull-right{:href => new_profile_child_path(@profile)}
                %i.icon-plus
                New Child
          - if @profile.children.size != 0
            %ul
              - @profile.children.each do |child|
                %li= link_to child.first_name, profile_child_path(@profile,child)
        .page-header
          %h4= @profile.first_name.to_s+"'s Last Books"
          - if @all_shelves_books.size == 0
            %p No books found in the library.
          - else 
            %ul.thumbnails
            - @all_shelves_books.each do |book|
              %li.span1
                .thumbnail
                  %a{:href => book_path(book)}
                    %img{:src => book.cover_url}
            %br
            %br
            %br
            %br
            %br
        .page-header
          %h4
            = @profile.first_name.to_s+"'s Shelves"
            - if @profile.user == current_user
              %a.btn.pull-right{:href => new_profile_shelf_path(@profile)}
                %i.icon-plus
                New Shelf
          %br
          - if @profile.shelves.size != 0
            %ul
              - @profile.shelves.each do |shelf|
                %li= shelf.name.to_s+" ("+shelf.books.size.to_s+")"
        .page-header
          %h4= @profile.first_name.to_s+"'s Reviews ("+@user_reviews.size.to_s+")"
          %br
          - if @user_reviews.size != 0
            - @user_reviews.each do |review|
              .row
                .span5
                  %blockquote
                    %p= review.details
                    %small
                      = link_to review.shelf.profile.name, user_profile_path(review.shelf.profile.user,review.shelf.profile)
                      - if !review.rating.nil?
                        %span.badge= review.rating 
                .span1
                  %a{:href => book_path(review.book)}
                    %img{:src => review.book.cover_url}                    
  .span4
    - if @profile.user == current_user
      %form{:id => "followable_user_form", :action => follows_path, :method => "post"}
        %input{:type => "hidden", :name => "follower", :value => @profile.user.id}
        .input-append
          %input.input-xlarge.search-query.typeahead{:type => "text", :name => "followable", :placeholder => "Followable user", :id => "followable_user"}
            %i.icon-search
        %button.btn.btn-primary{:type => "submit"}
          %i.icon-share-alt
          Follow
    .page-header
      %h3= "Following"
      - if @profile.user.all_following.size != 0
        %ul
          - @profile.user.all_following.each do |followee|
            %li= link_to followee.profile.name, user_profile_path(followee,followee.profile)
    .page-header
      %h3= "Followers"
      - if @profile.user.followers.size != 0
        %ul
          - @profile.user.followers.each do |follower|
            %li= link_to follower.profile.name, user_profile_path(follower,follower.profile)

      
