%br
.row
  .span8
    .row
      .span2
        .thumbnail
          %img{:src => "http://t2.gstatic.com/images?q=tbn:ANd9GcSi80PQtcEt9ZoMQIxgDgN8SaXaH4wwJt5GvASTHW1-Pt5z4uPt"}
        %br
        %a.btn.btn-mini{:href => edit_profile_path(@profile)}
          %i.icon-pencil
            Edit Profile
      .span6
        .well
          %h2= @profile.name
          %h5= @profile.city.to_s+", "+@profile.country.to_s
        .page-header
          %h4
            = @profile.first_name.to_s+"'s Children"
            %a.btn.pull-right{:href => new_profile_child_path(@profile)}
              %i.icon-plus
              New Child
          - if @profile.children.size != 0
            %ul
              - @profile.children.each do |child|
                %li= link_to child.first_name, profile_child_path(child)
        .page-header
          %h4= @profile.first_name.to_s+"'s Last Books"
          - if @all_shelves_books.size == 0
            %p No books found in the library.
          - else 
            %ul.thumbnails
            - @all_shelves_books.each do |book|
              %li.span1
                .thumbnail
                  %a{:href => book_path(book)}
                    %img{:src => book.cover_url}
          %br
          %br
          %br
          %br
          %br
        .page-header
          %h4
            = @profile.first_name.to_s+"'s Shelves"
            %a.btn.pull-right{:href => new_profile_shelf_path(@profile)}
              %i.icon-plus
              New Shelf
          %br
          - if @profile.shelves.size != 0
            %ul
              - @profile.shelves.each do |shelf|
                %li= shelf.name.to_s+" "+shelf.id.to_s
        .page-header
          %h4= @profile.first_name.to_s+"'s Reviews"
  .span4
    .page-header
      %h3= "Following"
    .page-header
      %h3= "Followers"
      
