%script{:type => "text/javascript"}
  :plain
  
    $(document).ready(function() { 
      $(".nav-list a").displayWithAjax("#shelves_details");
      $("#listview").click(
        function () { 
          $('#gridview').removeClass("active"); 
          hide_load_and_show_div("#shelves_details","/shelves/list");
          $('#listview').addClass("active");
          // Empecher l'action par défaut du bouton submit 
          return false;
      });
      $("#gridview").click(
        function () { 
          $('#listview').removeClass("active"); 
          hide_load_and_show_div("#shelves_details","/shelves/gridlist");
          $('#gridview').addClass("active");
          // Empecher l'action par défaut du bouton submit 
          return false;
      });
    });
%br
%h1 
  My Library
  .btn-group.pull-right
    #gridview.btn.active
      %i.icon-th
    #listview.btn
      %i.icon-th-list
%br
.row
  .span4
    #shelves_list.well{:style => "padding: 8px 0;"}
      %ul.nav.nav-list
        - @shelves.each do |shelf|
          %li
            %a{:href => shelf_path(shelf)}
              %i.icon-book
              = shelf.name
              = "(#{shelf.books.size})"
            - if !['to_read','read','currently_reading'].include?(shelf.name)
              = link_to '', shelf, :confirm => 'Are you sure?', :method => :delete, :class => 'icon-remove pull-right'
  #shelves_details.span8
    = render 'covers_grid'

%br

= link_to 'New Shelf', new_profile_shelf_path
