%h1 Editing child

= form_for(@child) do |f|
  %dl.dl-horizontal
    .field
      %dt= f.label :first_name
      %dd= f.text_field :first_name
    .field
      %dt= f.label :birth_date
      %dd= f.date_select :birth_date
  .actions
    = f.submit

= link_to 'Show', @child
\|
= link_to 'Back', profile_path(@profile)
