%p#notice= notice
- if @profile.nil?
  - @profile = @child.profile
.row
  .span8
    .row
      .span2
        .thumbnail
          %img{:src => "http://t2.gstatic.com/images?q=tbn:ANd9GcSi80PQtcEt9ZoMQIxgDgN8SaXaH4wwJt5GvASTHW1-Pt5z4uPt"}
        %br
        %a.btn.btn-mini{:href => edit_profile_child_path(@profile,@child)}
          %i.icon-pencil
            Edit Child
        %a.btn.btn-mini{:href => profile_path(@profile)}
          %i.icon-user
            Parent
      .span6
        .well
          %h2= @child.first_name
          %h5= @child.birth_date.to_s
        .page-header
          %h4= @child.first_name.to_s+"'s Favorites (#)"
        .page-header
          %h4= "Another list (#)"
  .span4
    .page-header
      %h3= "Someting"
    .page-header
      %h3= "Something"
