= form_for(@author, :class => 'form-horizontal') do |f|
  %dl.dl-horizontal
    .field
      %dt= f.label :last_name
      %dd= f.text_field :last_name
      %dt= f.label :first_name
      %dd= f.text_field :first_name
  .actions
    = f.submit
