%script{:type => "text/javascript"}
  :plain 

    $(document).ready(function() {
      /* Activating Best In Place */
      jQuery(".best_in_place").best_in_place(); 
    });

%h1 Authors
#new_author.pull-right
  = form_for @new_author, :html => {:class => "form-inline", :id => "new_author_form"} do |f|
    %strong New:
    = f.text_field :last_name, :placeholder => "Author Last Name"
    = f.text_field :first_name, :placeholder => "Author First Name" 
    = f.submit
%small NB: Double-click on a name to edit it
%br
%br
%table.table.table-striped.table-hover.table-condensed
  %tr
    %th Last Name
    %th First Name
    %th Actions
  - @authors.each do |author|
    %tr
      %td= best_in_place author, :last_name, :type => :input
      %td= best_in_place author, :first_name, :type => :input
      %td= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini'

%br

