= form_for(@book) do |f|
  %dl.dl-horizontal
    .field
      %dt= f.label :title
      %dd= f.text_field :title
    .field
      %dt= f.label "Author(s)"
      %dd
        - if @book.authors.size == 0
          %input.search-query.span2.typeahead{:name => "book[authors]", :placeholder => 'Authors', :type => "text", :id => 'book_authors'}/
        - else
          %input.search-query.span2.typeahead{:name => "book[authors]", :placeholder => @book.authors_list, :type => "text", :id => 'book_authors'}/
    .field
      %dt= f.label :publisher
      %dd
        - if @book.publisher.nil?
          %input.search-query.span2.typeahead{:name => "book[publisher_id]", :placeholder => 'Publisher', :type => "text", :id => 'book_publisher'}/
        - else
          %input.search-query.span2.typeahead{:name => "book[publisher_id]", :placeholder => @book.publisher.name, :type => "text", :id => 'book_publisher'}/
    .field
      %dt= f.label :published_at
      %dd= f.date_select :published_at
    .field
      %dt= f.label :isbn10
      %dd= f.text_field :isbn10
    .field
      %dt= f.label :isbn13
      %dd= f.text_field :isbn13
    .field
      %dt= f.label :page_count
      %dd= f.text_field :page_count
    .field
      %dt= f.label :edition_language
      %dd= f.text_field :edition_language
    .field
      %dt= f.label :original_title
      %dd= f.text_field :original_title
    .field
      %dt= f.label :price
      %dd= f.text_field :price
    .field
      %dt= f.label :min_age
      %dd= f.text_field :min_age
    .field
      %dt= f.label :max_age
      %dd= f.text_field :max_age
    .field
      %dt= f.label :publisher_resume
      %dd= f.text_area :publisher_resume
    .field
      %dt= f.label :cover_url
      %dd= f.text_field :cover_url

  .actions
    = f.submit
