= form_for @book, :html => { :multipart => true } do |f|
  .row-fluid
    .span2
      .field
        .thumbnail
          = image_tag @book.cover.url(:medium)
        = f.file_field :cover, :class => 'input-small'
    .span6
      .field 
        = f.text_field :title, :placeholder => 'Title',  :class => 'input-block-level'
      .field
        - if @book.authors.size == 0
          %input.input-block-level.search-query.typeahead{:name => "book[authors]", :placeholder => 'Authors', :type => "text", :id => 'book_authors'}/
        - else
          %input.input-block-level.search-query.typeahead{:name => "book[authors]", :value => @book.authors_list, :type => "text", :id => 'book_authors'}/
      .field
        - if @book.illustrators.size == 0
          %input.input-block-level.search-query.typeahead{:name => "book[illustrators]", :placeholder => 'Illustrators', :type => "text", :id => 'book_illustrators'}/
        - else
          %input.input-block-level.search-query.typeahead{:name => "book[illustrators]", :value => @book.illustrators_list, :type => "text", :id => 'book_illustrators'}/
      .row-fluid
        .span6
          .field
            - if @book.publisher.nil?
              %input.input-large.search-query.typeahead{:name => "book[publisher_id]", :placeholder => 'Publisher', :type => "text", :id => 'book_publisher'}/
            - else
              %input.input-large.search-query.typeahead{:name => "book[publisher_id]", :value => @book.publisher.name, :type => "text", :id => 'book_publisher'}/
        .span6 
          .field
            %input{:type => "text", :id => "published_at_datepicker", :name => "published_at", :placeholder => 'Publication Date'} 
    .span4
      .field 
        = f.text_field :isbn10, :placeholder => 'ISBN10'
      .field 
        = f.text_field :isbn13, :placeholder => 'ISBN13'
      .row-fluid
        .span6
          .field
            = f.text_field :page_count, :placeholder => '# Pages', :class => 'input-block-level'
        .span6
          .field
            = f.text_field :price, :placeholder => 'Price', :class => 'input-block-level'
      .field
        = f.text_field :edition_language, :placeholder => 'Edition language'
  .row-fluid
    .field 
      %input{:type => 'hidden', :id => 'tags_list', :name => 'tags_list', :value => @tags_list}
    .field
      = f.label 'Tags'
      - if @book.tags.size == 0
        %input.input-block-level.search-query.typeahead{:type => 'text', :id => 'tags', :name => "book[tags]"}
      - else 
        %input.input-block-level.search-query.typeahead{:type => 'text', :value => @tags_list, :id => 'tags', :name => "book[tags]",}
  .row-fluid
    .span8
      .field
        = f.label :publisher_resume
        = f.text_area :publisher_resume, :rows => '5', :class => 'input-block-level'
    .span4
      .field
        = f.label :category
        = f.collection_select(:category_id, Category.all, :id, :name)
      .field
        - if @book.themes.size == 0
          %input.input-xlarge.search-query.typeahead{:name => "book[themes]", :placeholder => 'Themes', :type => "text", :id => 'book_themes'}/
        - else
          %input.input-xlarge.search-query.typeahead{:name => "book[themes]", :value => @book.themes_list, :type => "text", :id => 'book_themes'}/  
  .row-fluid
    .actions
      = f.submit
