= stylesheet_link_tag params[:controller]
= javascript_include_tag "modernizr.custom.js"

%script{:type => "text/javascript"}
  :plain 

    $(document).ready(function() {
      /* Setting category links */
      $(".category a").click(
        function (event) {
          event.preventDefault();
          hide_load_and_show_div("#results","/categories/"+$(this).attr("id")+"/list_books");
        }
      ); 
      /* Setting themes links */
      $(".theme a").click(
        function (event) {
          event.preventDefault();
          hide_load_and_show_div("#results","/themes/"+$(this).attr("id")+"/list_books");
        }
      ); 
    });

- content_for :context_bar do
  %a.btn{:href => new_book_path}
    %i.icon-plus
    New Book

%h1 
  Books
  %a.btn.btn-mini.pull-right{:href => new_book_path}
    %i.icon-plus
    New Book
%br
.row
  .span2
    .well{:style => "padding: 8px 0;"}
      %ul.nav.nav-list{:id => "filters"}
        %li.nav-header 
          Reader
        - @categories.each do |category|
          %li.category
            %a{:id => "#{category.id}", :href => "#{}"}= category.name + " (" + category.books.size.to_s + ")"
        %li.nav-header Themes
        - @themes.each do |theme|
          %li.theme
            %a{:id => "#{theme.id}", :href => "#{}"}= theme.name + " (" + theme.books.size.to_s + ")"
    .well{:style => "padding: 8px 0;"}
      %h4 Tags
      - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to tag.name, tag_path(:id => tag.name), :class => css_class
  #results.span10
    - if @books.size == 0
      %p No books found.
    - else 
      / %ul.thumbnails
      %ul.og-grid{:id => "og-grid"}
        - @books.each do |book|
          = render 'thumbnail', :book => book 
          / %li.span2
          /   .thumbnail
          /     %a{:href => book_path(book)}
          /       = image_tag(book.cover.url(:medium))
          /     .caption
          /       %h5
          /         =link_to book.title, book_path(book)
          /       %small= book.authors_list
          /       %br
          /       %a.btn.btn-mini{:href => edit_book_path(book)}
          /         %i.icon-pencil
          /         Edit
          /       %div
          /         %span.rating
          /           %span.star
          /             %i.icon-star-empty
          /           %span.star
          /             %i.icon-star-empty
          /           %span.star
          /             %i.icon-star-empty
          /           %span.star
          /             %i.icon-star-empty
          /           %span.star
          /             %i.icon-star-empty

= javascript_include_tag "grid.js"
%script{:type => "text/javascript"}
  :plain 
    
    $(function() {
      Grid.init();
    });