- content_for :context_bar do
  %a.btn{:href => new_book_path}
    %i.icon-plus
    New Book

%p#notice= notice
.row
  .span8
    .row
      .span2
        .thumbnail
          = image_tag @book.cover.url(:medium)
        - if user_signed_in?
          %p 
            My rating
            %div
              %span.rating
                %span.star
                  %i.icon-star-empty
                %span.star
                  %i.icon-star-empty
                %span.star
                  %i.icon-star-empty
                %span.star
                  %i.icon-star-empty
                %span.star
                  %i.icon-star-empty
            = render_shelf_selection_form_for current_user
      .span6
        %h2
          = @book.title
          %span.badge= @book.average_rating
          %small= "( #{@book.ratings_count} ratings)" 
        %h5
          = "written by "
          - @book.authors.each do |a|
            - if a == @book.authors.first
              = link_to a.name, a
            - else 
              = ", "
              = link_to a.name, a
        %h5
          = "illustrated by "
          - @book.illustrators.each do |i|
            - if i == @book.illustrators.first
              = link_to i.name, i
            - else 
              = ", "
              = link_to i.name, i
        %p= @book.publisher_resume
        .well
          %small
            - if !@book.publisher.nil? 
              - if !@book.published_at.nil?
                = "Published "+@book.published_at.to_date.to_s+" by "
                =link_to @book.publisher.name, publisher_path(@book.publisher) 
                %br
              - else
                = "Published by "
                =link_to @book.publisher.name, publisher_path(@book.publisher) 
                %br
            - else 
              - if !@book.published_at.nil?
                = "Published "+@book.published_at.to_datetime.to_s
                %br             
            - if !@book.collection.nil?
              = "Collection: "
              = link_to @book.collection.name, collection_path(@book.collection)
              %br
            - if !@book.page_count.nil?
              = @book.page_count.to_s+" pages"
              %br
            - if !@book.isbn10.nil?
              = "ISBN: "+@book.isbn10
              - if !@book.isbn13.nil?
                = " - ISBN 13: "+@book.isbn13
                %br
            - else 
              - if !@book.isbn13.nil?
                = "ISBN13: "+@book.isbn13
                %br
    .page-header
      %h3
        = "Book Reviews (#{@book.reviews_count})"
    - if @book.reviews.size != 0
      - @book.reviews.each do |review|
        %blockquote
          %p= review.details
          %small
            = link_to review.shelf.profile.name, user_profile_path(review.shelf.profile.user,review.shelf.profile)
            - if !review.rating.nil?
              %span.badge= review.rating 
  .span4
    - if !@book.collection.nil?
      .page-header
        %h3
          = "In the same collection"
          .btn.btn-small= link_to "More", collection_path(@book.collection)
      - if @book.collection.books.size < 2
        %p= "No other books found in the same collection."
      - else 
        %ul.thumbnails{:id => "grid"}
          - @book.collection.books.each do |book|
            - if book != @book
              %li.tiny
                .thumbnail
                  %a{:href => book_path(book)}
                    = image_tag(book.cover.url(:icon))
    .page-header
      %h3= "Tags"
    = @book.tag_list
    
- if user_signed_in?
  = link_to 'Edit', edit_book_path(@book)
  \|
  = link_to 'Back', books_path
