= stylesheet_link_tag "books.css"
= javascript_include_tag "modernizr.custom.js"

- if @category_books.size == 0
  %p= "No books found for "+@category.name+"."
- else 
  %ul.og-grid{:id => "og-grid"}
    - @category_books.each do |book|
      = render '/books/thumbnail', :book => book 
  / %ul.thumbnails{:id => "grid"}
  /   - @category_books.each do |book|
  /     %li
  /       .thumbnail
  /         %a{:href => book_path(book)}
  /           = image_tag(book.cover.url(:tiny))
  
= javascript_include_tag "grid.js"
%script{:type => "text/javascript"}
  :plain 
    
    $(function() {
      Grid.init();
    });