= link_to "BokBok", root_path, :class => 'brand'
- if user_signed_in?
  .btn-group.pull-right
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-user
      - if !current_user.profile.last_name.nil?
        = current_user.profile.name
      - else 
        = current_user.email.to_s[0,current_user.email.to_s.index("@")]
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => user_profile_path(current_user,current_user.profile)} Profile
      %li
        = link_to('Edit account', edit_user_registration_path)
      %li.divider
      %li
        = link_to('Logout', destroy_user_session_path, :method=>'delete')
- else
  .pull-right
    %a.btn{:href => new_user_session_path}
      Login
%ul.nav
  - if user_signed_in?
    %li
      %ul.nav
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Books
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to('Search', books_path)
            %li
              = link_to "New", new_book_path
    %li
      = link_to 'My Library', profile_shelves_path(current_user.profile)
    - if current_user.is? :manager
      %li
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Configuration
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to('Authors', authors_path)
              %li
                = link_to('Illustrators', illustrators_path)
              %li
                = link_to('Publishers', publishers_path)
              %li
                = link_to('Collections', collections_path)
              %li
                = link_to('Book Categories', categories_path)
              %li
                = link_to('Book Types', book_types_path)
              %li
                = link_to('Book Themes', themes_path)
    - if current_user.is? :admin
      %li
        = link_to 'Users', 'users_path'