!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Hds
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/navigation'
          %form.navbar-search{:action => ''}
            .input-append
              %input.search-query.span2{:type => "text", :placeholder => "Title / Author / ISBN"}
                %i.icon-search
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
    #footer
